.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.up {
    width: 80%;
    display: flex;
    margin-left:35px;
}

#rightup{
margin-left: 10px;
}
.up button {
    width: 100%;
    padding: 12px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;

}

.up button:hover{
    background-color: skyblue;
}

table {
    width: 100%;

    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

tr {
    transition: background-color 0.3s ease;
}


td {
    color: #333;
}


