/* Grundstil für die Seite */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container für die obere Box */
.upper {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 40px 0;
}

/* Container für den unteren Bereich */
.lower {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

/* Container für einzelne Abschnitte im unteren Bereich */
.lower_container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    margin: 0 30px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;  /* Der Cursor ändert sich zu einem Pointer, um den klickbaren Bereich anzuzeigen */
}

.lower_container:hover {
    transform: scale(1.05);
}

/* Stil für die Überschriften */
h1, h2 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}

/* Stil für das Admin- und User-Image */
.admin-img, .user-img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.admin-img:hover, .user-img:hover {
    transform: scale(1.1);
}

/* Link-Stil */
a {
    display: inline-block;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    transition: color 0.3s;
}

a:hover {
    color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .lower {
        flex-direction: column;
        align-items: center;
    }

    .lower_container {
        width: 80%;
        margin-bottom: 30px;
    }
}
